[Unit]
Description=TeamCity CI Server
After=syslog.target network.target

[Service]
User=teamcity
Group=teamcity
Type=forking
WorkingDirectory={{ teamcity_master_home }}/TeamCity
ExecStart=/bin/bash {{ teamcity_master_home }}/TeamCity/bin/teamcity-server.sh start
ExecStop=/bin/bash {{ teamcity_master_home }}/TeamCity/bin/teamcity-server.sh stop
RemainAfterExit=yes
Environment="/etc/default/teamcity-server"
PrivateTmp=yes
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target